.flipbook-form{


padding:10%;
.flipbook-form-wrap{
   
   
    display:flex;
    width:100%;
    .thumbside{
        width:25%;
        padding:15px;
        .df-popup-thumb{
            width:100%
        }
    }
    .textside{
        padding:0 30px;
      
    }
}
    
}