/* Grid View Flexbox Layout */
.event-container.grid-view {


    display: flex;
    flex-wrap: wrap;
    margin:10px -10px;


    .flex-item{
        padding:10px !important;
        .event-card{
            position:relative;
            height:100%;
            cursor:pointer;
            text-decoration:none;
        
        }      
    
    }
    



}




