/*COULD ADD STRAIGHT CSS HERE */


.logo-list{

	align-items:center;
	justify-content: space-between;

}


.logo-list .logo {

	max-width:200px;
	margin:0 auto;

}


@media(min-width:768px){

.logo-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-list .logo {

	max-width:200px;
	margin:0 ;

}


}
