.resource-item{
        width:100%;
        padding:60px 0;
        @media(min-width:$breakpoint-medium){
         display:flex;
        }
        .image-side{
            padding:30px;
            @media(min-width:$breakpoint-medium){
                width:30%;
            }

            .df-popup-thumb{
                width:100%;
            }
            



        }
        .text-side{
            padding:30px;
            @media(min-width:$breakpoint-medium){
                width:70%;
                h1{
                    margin-top:30px;
                }
            }

            

        }

        &.even-color{
            background-color:$page-background;
        }
}

#download-resource .uk-modal-dialog{
    background-color:$steel-blue;
    label,h2,legend{
        color:$white;
    }
    h2{
        font-family:$fontSemiBold;
    }

    input[type="email"],
    input[type="text"]{
        background:transparent;
        border:1px solid $white !important;
        color:$white !important;
    }
    input[type="checkbox"]{
        width:25px !important;
        height:25px !important;
        color:$white !important;
        &:checked{
            background-color:$white;
        }
    }
    
    .gform_required_legend{
        display:none;
    }

}


