//colors
$white : #ffffff;
$black : #000000;

$page-background : #F1F5F8;
$dark-purple : #0C0042;
$purple : #260D66;
$steel-blue : #385DFF;// #0072DA;
$gray : #315372;
$sky-blue : #9ADCF7;
$green : #00B852;

$tint : #E5ECF2;


$light-blue: #B8D5EF;
$light-light-blue: #E4F2F8;



$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;
